@font-face {
    font-family: Roboto-Bold;
    src: url(/assets/fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-Regular;
    src: url(/assets/fonts/Roboto-Regular.ttf);
}

*{
    font-family: Roboto-Regular;
}

body{
    font-size:16px;
    background-color:hsl(234, 29%, 20%);
    height:98vh;
    display:flex;
    justify-content: center;
    align-items: center;
    line-height:20px;
}

h1{
    font-weight: bold;
}

.container{
    display:flex;
    justify-content:center;
    background-color:white;
    height:400px;
    width:700px;
    padding:20px;
    border-radius: 15px;
    padding:20px;
}

ul{
    list-style-image: url(assets/images/icon-list.svg);
    text-align:left;
    vertical-align: middle;
    line-height:25px;
}

.info{
    display:flex;
    flex-direction:column;
    align-content:center;
    padding:20px;
}

.image img{
    max-height:100%;
}


#email,#submit{
    width:80%;
    box-sizing: border-box;
    height:40px;
    border-radius:10px;
    border:0.5px solid black;
}

#submit{
    background-color:hsl(234, 29%, 20%);
    color:white;
    border:0;
}

#submit:hover{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
    cursor:pointer;
}

/* Success */

.container-success{
    display:flex;
    flex-direction: column;
    background-color:white;
    height:400px;
    width:400px;
    border-radius: 15px;
    padding-left: 40px;
    padding-top:20px;
    color:hsl(234, 29%, 20%);
}

.successImg{
    width:60px;
    height:100px
}

#dismiss{
    width:90%;
    box-sizing: border-box;
    height:50px;
    border-radius:10px;
    border:0 solid black;
    background-color:hsl(234, 29%, 20%);
    color:white;
    margin-top: 20px;
}

#dismiss:hover{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
    cursor:pointer;
}

@media only screen and (max-width: 750px) {
    .container{
        flex-direction:column-reverse;
        justify-content:center;
        background-color:white;
        height:700px;
        width:400px;
        border-radius: 15px;
    }
    .image img{
       content:url(assets/images/illustration-sign-up-mobile.svg);
       width:100%;
    }

    .container-success{
        border: 1px solid black;
    }
    .linkC{
        margin-top:200px;
    }
    .container-success{
        display:flex;
        flex-direction: column;
        background-color:white;
        height:600px;
        width:400px;
        border-radius: 15px;
        padding-left: 40px;
        padding-top:20px;
        color:hsl(234, 29%, 20%);
    }
    .link{
        margin-top:200px;
    }
    
}